/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	cursor:default;
	&::after {
		content: '';
		position: absolute;
		width: 10px;
		background-color: var(--background-secondary);
		top: 0;
		bottom: 0;
		left: 50%;
		margin-left: -3px;
	}
}
h2.timeline-header {
	font-family: 'Comic Sans MS' !important;
	font-size: 1.25rem !important;
	margin: 0.5rem !important;
}
/* Container around content */
.timeline-container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}
/* Place the container to the left */
.timeline-left {
	left: 0;
	/* Add arrows to the left container (pointing right) */
	&::before {
		content: ' ';
		height: 0;
		position: absolute;
		top: 22px;
		width: 0;
		z-index: 1;
		right: 30px;
		border: medium solid var(--background-secondary);
		border-width: 10px 0 10px 10px;
		border-color: transparent transparent transparent #000;
	}
}
/* Place the container to the right */
.timeline-right {
	left: 50%;
	/* Add arrows to the right container (pointing left) */
	&::before {
		content: ' ';
		height: 0;
		position: absolute;
		top: 22px;
		width: 0;
		z-index: 1;
		left: 30px;
		border: medium solid var(--background-secondary);
		border-width: 10px 10px 10px 0;
		border-color: transparent #000 transparent transparent;
	}
	/* Fix the circle for containers on the right side */
	&::after {
		left: -16px;
	}
}
/* The actual content */
.timeline-content {
	padding: 16px;
	background-color: var(--background-accent);
	position: relative;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}